@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
	font-family: 'Poppins', sans-serif;
}

section{
	padding: 75px 0;
}

.action-bar ul{
	padding: 0;
	bottom: 0;
}

.action-bar ul li {
	list-style: none;
	display: inline;
	padding: 0 5px;
}

.action-bar ul li a .fa-edit{
      color: green;
}
.action-bar ul li .fa-trash{ 
	color: red;
}